* {
    box-sizing: border-box;
}

body {
    background: aqua;
}

heading {
    text-align: center;
}

h3 {
    text-align: center;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 3px;
    width: 70px;
    border: 1px solid black;
    overflow: auto;
}

section {
    background-color: grey;
    border: 1px solid black;
    margin-left: 15px;
    text-align: left;
    font-size: 1.3em;
    padding: 0px, 5px, 5px, 0;
    display: inline-block;
    width: 30%;
    height: 150px;
    overflow: scroll;
}

p {
    padding: 10px;
}

#sushi {
    background-color: hsl(68, 90%, 48%);
}

#beef {
    background-color: rgb(221, 77, 10);
}

#chicken {
    background-color: rgb(255, 192, 203);
}

#section1 {
    background-color: rgb(127, 255, 212);
}

#section2 {
    background-color: rgb(18, 164, 115);
}

#section3 {
    background-color: rgb(223, 255, 127);
}

@media (max-width:767px) {
    #section1 {
        width: 90%;
    }
    #section2 {
        width: 90%;
    }
    #section3 {
        width: 90%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    #section1 {
        width: 43%;
    }
    #section2 {
        width: 43%;
    }
    #section3 {
        width: 89%;
    }
}